{:deps {org.clojure/clojurescript {:mvn/version "1.12.42"}}
 :paths ["src"]
 :aliases {:dev
           {:main-opts ["-m" "cljs.main"
                        "--compile" "my-cljs-project.core"
                        "--repl"]}}}
